<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keye.router.baserouterarchitecture">

    <application
        android:allowBackup="true"
        android:name=".TotalApplicaion"
        android:label="@string/app_name"
        android:supportsRtl="true"
        ></application>

</manifest>